@page
@using HealthHub;
@model RegisterModel
@*@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>*@

<div class="row form-group">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-body px-lg-5 pt-4">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    @if (User.IsInRole(WC.DoctorRole))
                    {
                        <h4>Register a Doctor Account</h4>
                    }
                    else
                    {
                        <h4>Create a new account</h4>
                    }
                   
                    
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true"/>
                        <label asp-for="Input.Name">Name</label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Surname" class="form-control" autocomplete="username" aria-required="true"/>
                        <label asp-for="Input.Surname">Surname</label>
                        <span asp-validation-for="Input.Surname" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Input.Sex" class="form-control" autocomplete="username" aria-required="true">
                            <option value=@WC.Male>Male</option>
                            <option value=@WC.Female>Female</option>
                            <option disabled selected>--Select sex--</option>
                        </select>
                        <label asp-for="Input.Sex">Sex</label>
                        <span asp-validation-for="Input.Sex" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Birthday" class="form-control" autocomplete="username" type="date" aria-required="true" />
                        <label asp-for="Input.Birthday">Birthday</label>
                        <span asp-validation-for="Input.Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>
            @* <div class="col-md-6 col-md-offset-2">
                <section>
                    <h3>Use another service to register.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>*@
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
